Django>=4.2,<5.0
Pillow>=10.0.0
python-decouple>=3.8
setuptools>=68.0.0
django-ratelimit>=4.1.0
# Removed conflicting django-quill package
gunicorn>=21.2.0
dj_database_url>=2.1.0
psycopg2-binary>=2.9.7
whitenoise>=6.5.0
django-tinymce
django-summernote>=0.8.20.0
bleach>=4.0.0,<5.0.0